h1 {
  border-bottom-style: inset;
}

h5 {
  font-style: italic;
}

pre {
  font-style: italic;
  font-size: 1.1em;
}

figure {
  display: inline-block;
  font-size: 0.8em;
  margin: 6px;
}

img.poltrona {
  width: 27px;
  height: 18px;
  margin: 1px;
  padding: 1px;
}

.entre-letras {
  letter-spacing: 0.5em;
}
