img{
    float: left;
    height: 23.0rem;
    width: 23.0rem;
}

h1{
    border-bottom-style: inset;
}

fieldset{
    display: inline-block;
}

div{
    padding: 0.3rem;
    margin: 0.3rem;
}

footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    color: #000;
}
span{
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: #000;
}