
body{
    width: 90%;
    text-align: center;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(48,48,133,1) 65%, rgba(0,212,255,1) 100%);
}

h1{
    color: rgb(184, 117, 117);
}

div{
    padding: 0.3rem;
    margin: 0.3rem;
}
label{
    color: #fff;
    
}

p{
    color: #fff;
}

span{
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: #2a5858;
}

footer{
    bottom: 0;
    position: fixed;
    width: 90%;
    text-align: center;
}